.contact-page header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../resources/images/ContactBackground.jpg');
    background-position: center;
    height: 50vh;
}

header{
    text-shadow: 1px 1px 4px #ffffff;
}

button{
    width:400px;
}

